* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: lightgrey;
  transition: 0.3s;
}

a:hover {
  color: darkgrey;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.landing {
  height: 100vh;
  color: white;
  text-align: center;
  background: linear-gradient(135deg, #0079bf, #5067c5);
}

.landing .landing-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
}

.landing h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.landing p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .landing h1 {
    font-size: 3rem;
  }
}
