// Global

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1rem;
  background-color: #eee;
  color: #333;
}

.copyright {
  text-align: center;
  color: #eee;
}

// Navbar

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #026aa7;
  height: 4.5vh;

  a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

// Landing

.landing {
  height: 100vh;
  color: white;
  text-align: center;
  background: linear-gradient(135deg, #0079bf, #5067c5);

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .landing-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 150px 50px;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: lightgrey;
      transition: 0.3s;
      &:hover {
        color: darkgrey;
      }
    }
  }

  @media (max-width: 700px) {
    h1 {
      font-size: 3.5rem;
    }
  }
}

// Dashboard

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  h1 {
    text-align: center;
    font-weight: 500;
  }

  h2 {
    margin-top: 40px;
    font-weight: 400;
  }

  .dashboard-loading {
    margin: 40px;
  }

  .boards {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .board-card {
    width: 220px;
    height: 120px;
    padding: 20px 50px 20px 20px;
    margin: 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    background-color: #5067c5;
    &:hover {
      background-color: #4057b5;
    }
  }

  .create-board-card {
    padding: 0;
    border: none;
    color: #333;
    font-size: 1rem;
    background-color: lightgrey;
    &:hover {
      background-color: darkgrey;
    }
    cursor: pointer;
  }
}

// Board

.board-loading {
  text-align: center;
  margin-top: 20%;
}

.board {
  padding: 10px;
  background-color: snow;
  height: 95.5vh;

  .board-top {
    height: 5vh;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .board-top-left {
      display: flex;
      flex-direction: row;

      .board-title {
        cursor: pointer;
        padding: 5px 0 0 5px;
      }

      .board-title-form {
        padding: 5px 0 0 5px;
      }

      .board-members {
        display: flex;
        margin: 0 20px;

        .avatar {
          margin-right: 5px;
          &:hover {
            background-color: #aaa;
          }
        }
      }

      .invite {
        margin-left: 5px;
        display: flex;

        .search-member {
          width: 300px;
          margin-right: 10px;
        }
      }
    }
  }

  .create-list-button {
    margin-top: 10px;
    min-width: 200px;
  }

  .create-list-form {
    min-width: 200px;
    display: flex;
    flex-direction: column;
  }

  .archived-card {
    display: flex;
    flex-direction: column;
  }

  .lists {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 89vh;

    .list-wrapper {
      background-color: #eee;
      border-radius: 5px;
      min-width: 280px;
      max-width: 280px;
      height: fit-content;
      margin-top: 10px;
      margin-right: 10px;
      padding: 10px;

      .list-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .list-title {
          cursor: pointer;
          padding: 5px 0 0 5px;
        }
      }

      .create-card-button {
        margin-top: 10px;
      }

      .create-card-form {
        display: flex;
        flex-direction: column;
      }

      .adding-card {
        max-height: 80vh;
      }

      .not-adding-card {
        max-height: 75vh;
      }

      .list {
        overflow-y: auto;

        .cards {
          display: flex;
          flex-direction: column;
          margin-right: 2px;

          .card {
            margin: 5px 0;
            position: relative;
            cursor: pointer;

            .edit-button {
              position: absolute;
              bottom: 20px;
              left: 180px;
            }
          }

          .mouse-over {
            background-color: #e5e5e5;
          }
        }
      }
    }
  }
}
