// Global

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1rem;
  background-color: #eee;
  color: #333;
}

.copyright {
  text-align: center;
  color: #eee;
}

// Navbar

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #026aa7;
  height: 4.5vh;

  a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

// Landing

.landing {
  height: 100vh;
  color: white;
  text-align: center;
  background: linear-gradient(135deg, #0079bf, #5067c5);

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .landing-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 150px 50px;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: lightgrey;
      transition: 0.3s;
      &:hover {
        color: darkgrey;
      }
    }
  }

  @media (max-width: 700px) {
    h1 {
      font-size: 3.5rem;
    }
  }
}

// Dashboard

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  h1 {
    text-align: center;
    font-weight: 500;
  }

  h2 {
    margin-top: 40px;
    font-weight: 400;
  }

  .dashboard-loading {
    margin: 40px;
  }

  .boards {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .board-card {
    width: 220px;
    height: 120px;
    padding: 20px 50px 20px 20px;
    margin: 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    background-color: #5067c5;
    &:hover {
      background-color: #4057b5;
    }
  }

  .create-board-card {
    padding: 0;
    border: none;
    color: #333;
    font-size: 1rem;
    background-color: lightgrey;
    &:hover {
      background-color: darkgrey;
    }
    cursor: pointer;
  }
}

// Board

.board-loading {
  text-align: center;
  margin-top: 50%;
}

.board {
  padding: 20px;
  background-color: lightgrey;
  height: 95.5vh;
}
